body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/06/18/7e/06187e0d3c524d14391d11fef6f6e2a7.jpg");
    /* Set a specific height */
    height: 87%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.parallax2 {
  /* The image used */
  background-image: url("https://wallpapercave.com/wp/DTvUQor.jpg");

  /* Set a specific height */
  height: 29%;
  width: 100%;
  margin-top: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.parallax3 {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/06/18/7e/06187e0d3c524d14391d11fef6f6e2a7.jpg");

  /* Set a specific height */
  height: 87%;
  width: 100%;
  margin-top: 0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-left: 1%;
  padding-top: 4%;
}

h1 {
  margin: 0;
  color: white;
  font-size: 427%;
  font-family: 'Archivo Black', sans-serif;
}
